button{
  width: 250px;
  height: 80px;
  font-size: 35px;
  font-family: Roboto, sans-serif;
  
 
}
.rs-btn-primary {
   background-color: #9c45c7 !important;
}

.rs-btn-primary:hover {
   background-color: #7f349e !important; 
 }
